
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #e7b91b;
}

h1 {
    font-size: 275px;
    font-weight: bold;
    text-align: center;
    color: #111;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #111;
}

.bottom {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*display: table-cell;*/
    float: left;
    width: 48%;
    margin: 1%;
    font-size: 14px;
    color: #685206;
}