# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\data\sem2\startcode-threads\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
vcs.xml